*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 85%;
    margin: auto;
}


/* header */
nav{
    display: grid;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    grid-template-columns: 15% 70% 15% ;
    align-items: center;
    z-index: 1111111111;
}

nav ul{
    text-align: center;
}

nav h1{
    font-size: 30px;
    text-align: center;
}

nav h1 span{
    color: red;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
    font-size: 18px;
}

nav i{
    margin: auto;
}

nav ul li a{
    color: #7f7f90;
    position: relative;
    transition: color 0.5s;
}

nav ul li a:hover{
    color: #212529;
}

nav ul li a::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 100%;
    background: #ff0000;
    transition: width 0.5s;
}

:target{
    color: #212529;
}

:target::after{
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 100%;
    background: #ff0000;
}

nav ul li a:hover::after{
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 100%;
    background: #ff0000;
}

/* home */
.home{
    margin-top: 50px;
    padding: 50px 0;
    background: #eee;
}

.home-content{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    align-items: center;
}

.home-left h2{
 color: #37373f;
 font-size: 60px;
 font-family: "Amatic SC",sans-serif;
}

.home-left p{
    line-height: 1.3;
    color: #4f4f5a;
    font-size: 17px;
}

.home-left-btn{
    display: grid;
    grid-template-columns: 35% 10% 30%;
}

.home-left-btn a{
    color: white;
    margin: 0 10px;
}

.home-left-btn a:first-child{
    background-color: red;
    padding: 15px 25px;
    border-radius: 0px 20px 20px 20px ;
}

.home-left-btn a:last-child{
    margin: auto;
    color: black;
    transition: color 0.5s;
}


.home-left-btn a:last-child:hover{
    color: red;
}

.red-circle{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
}

.grey-circle{
    width: 100px;
    height: 100px;
    background-color: #eee;
    position: absolute;
    top: 0%;
    left: 50%;

}

.icon-circle{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 7px;
    left: 7px;  
}

.icon-circle i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.home-img img{
        width: 100%;
    }

    .home-img img:hover{
        animation: shake 0.5s infinite;
    }

    @keyframes shake{
        0%{transform: rotate(1deg) translate(0,1px);} 
        10%{transform: rotate(-1deg) translate(0,-1px);} 
        20%{transform: rotate(1deg) translate(0,1px);} 
        30%{transform: rotate(-1deg) translate(0,-1px);} 
        40%{transform: rotate(1deg) translate(0,1px);} 
        50%{transform: rotate(-1deg) translate(0,-1px);} 
        60%{transform: rotate(1deg) translate(0,1px);} 
        70%{transform: rotate(-1deg) translate(0,-1px);} 
        80%{transform: rotate(1deg) translate(0,1px);} 
        90%{transform: rotate(-1deg) translate(0,-1px);} 
        100%{transform: rotate(-1deg) translate(0,1px);} 
      }

/* chefs */

.chefs{
   padding: 50px 0; 
   margin: auto;
   text-align: center;
}

.chefs-items{
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-gap: 3%;
}

.chef-item{
    position: relative;
    overflow: hidden;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
}

.chef-item img{
    width: 100%;
    
}

.chef-overlay{
    position: absolute;
    top: 8%;
    right: -14%;
    background-color: #eee;
    width: 50px;
    height: 190px;
    border-radius: 5px;
    transition: right 0.5s 0.5s;
}

.chef-item:hover{
    transform: scale(1.04);
}

.chef-item:hover .chef-overlay{
    right: 4%;
}

.chef-overlay i{
    display: block;
    margin: 35px 0px;
    color: #37373f66;
}

.chefs span{
    color: #7f7f90;
}

.chefs h2{
    font-family: "Amatic SC",sans-serif;
    font-size: 40px;
}

.chefs h2 span{
    color: red;
}

.chef-name{
    font-weight: bold;
    font-size: 22px;
}

.chef-desc{
    color: #7f7f90;
}
/* gallery */
.gallery{
    padding: 50px 0;
    background: #eee;
    text-align: center;
}

.gallery-items{
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(3,33%) ;
    grid-gap: 2%;
}


.img img{
    width: 100%;
    transition: transform 0.5s;
}


.meal-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #00000096;
    text-align: center;
    overflow: hidden;
    transition: height 0.5s;
}

.img{
    position: relative;
    overflow: hidden;
    border: 5px solid white;
}

.img:hover .meal-overlay{
    height: 100%;
}

.img:hover img{
    transform: scale(1.1);
}

.overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.overlay-content h3{
    font-size: 27px;
}

.overlay-content p{
    color: #eee;
}

.gallery span{
    color: #7f7f90;
    font-size: 15px;
}

.gallery h2{
    font-family: "Amatic SC",sans-serif;
    font-size: 50px;
}

.gallery h2 span{
    font-size: 50px;
    color: red;
}

/* contact */

.contact{
    padding: 50px 0;
    text-align: center;
}

.contact span{
    color: #7f7f90;
font-size: 15px;
}

.contact h2{
    font-family:  "Amatic SC",sans-serif;
    font-size: 50px;
}


.contact h2 span{
    font-size: 50px;
    color: red;
}

.contact-items{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 3%;
    text-align: left;
    margin-top: 30px;
}

.contact-item{
    background: #eee;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

.contact-item i{
    position: absolute;
    top: 50%;
    left: 5%;
    background: #ca0202;
    color: white;
    padding: 30px 20px;
    border-radius: 50%;
    transform: translate(0%,-50%);
}

.contact-item h3{
    position: relative;
    left: 20%;
    color: #7f7f90;
}

.contact-item p{
    position: relative;
    left: 20%;
}

.contact-form{
    padding: 10px;
    margin-top: 25px;
    box-shadow: 0 0 1.875rem #00000014;
}

.name input{
    width: 49%;
    padding: 20px 0;
}

.sub input{
    width: 99%;
    padding: 20px 0;
}

textarea{
    width: 99%;
}

form div{
    margin: 20px 0;
}

input:focus{
    outline: 1px solid red;
}

.contact-btn{
    margin: auto;
}

.contact-btn button{
    padding: 20px 40px;
    background-color: red;
    border: none;
    border-radius: 30px;
    color: white;
}

/* footer */

.footer{
    background: #212529;
}

.footer-items{
    display: grid;
    grid-template-columns: 25% 40% 30%;
    grid-gap: 2%;
}

.footer-logo{
    display: grid;
    grid-template-columns: 15% 85%;
}

.footer-logo img{
    margin: auto;
    width: 100%;
}

.footer-logo h2{
    color: white;
    font-size: 30px;
}

.footer-logo h2 span{
    color: red;
}

.footer-item1 p{
    color: white;
}

.footer-item1 h3{
    color: white;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid white ;
    font-size: 26px;
}

.footer-item1 ul{
    text-align: left;
}

.footer-item1 ul li{
    display: inline-block;
    color: white;
}

.footer-item1 ul li i{
    font-size: 26px;
    margin: 0 10px;
}

.footer-item2{
    color: white;
}


.footer-form input{
    display: inline-block;
    width: 70%;
    height: 40px;
}

.footer-form button{
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
}

.footer-item2 ul{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
}

.footer-item2 ul li{
    padding: 10px;
    margin: 10px 5px 10px 0px;
    transition: transform 0.5s ,background-color 0.5s;
}

.footer-item2 ul li:hover{
    transform: translate(5px);
    background-color: #7f7f9054;
}
.footer-item3{
    color: white;
}

.footer-item3 li{
    margin: 25px 0;
}

.footer-item3 i{
    color: red;
    font-size: 20px;
    margin-left: 5px;
}